---
- name: Update system packages
  yum:
    name: "{{ item }}"
    state: present
  loop: "{{ system_packages | default([]) }}"

- name: Upgrade all packages
  yum:
    name: "*"
    state: latest

- name: Install Python {{ python_version }}
  shell: |
    amazon-linux-extras install -y python{{ python_version }}
  args:
    creates: /usr/bin/python{{ python_version }}

- name: Set Python3 as default alternative
  alternatives:
    name: python3
    link: /usr/bin/python3
    path: /usr/bin/python{{ python_version }}

- name: Install system dependencies
  yum:
    name: "{{ item }}"
    state: present
  loop:
    - python3-devel
    - gcc
    - gcc-c++
    - make
